html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: rgba(118, 191, 224, 0.596);
    font: normal 20px arial ;
}
div#menu{
    background: rgba(59, 59, 151, 0.479);
    height: 95px;  
}
header{
    text-align: center;
    margin: auto;     
}
p{
    text-align: left;
    margin-left: 10px;
}
section{
    text-align: center;
    background:white;
    width: 85%;
    margin: auto;
    height: 1fr;
    margin-top: 50px;
    max-width: 800px;;
}
div#sbn{
    grid-area: a;
}
div#ps{
    grid-area: b;
}
div#rd{ 
    grid-area: c;
}
#sec{
    
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows:  2fr 1fr 2fr 1fr 2fr 1fr;
    align-content: center;
    justify-content: center;

    grid-template-areas: " a a "
                         " x i "
                         " b b "
                         " y j "
                         " c c "
                         " k k "

}
#sec > div{
    text-align: center;
}
#box1{
    background: rgba(133, 241, 111, 0.658);
    grid-area: i;

}
#box2{
    background: rgba(133, 241, 111, 0.658);
     grid-area: j;
 }
 #box3{
    background: rgba(133, 241, 111, 0.658);
     grid-area: k;
 }
 footer{
     font-style: italic;
     text-align: center;
     color: white;
     height: 100px;
     margin-top: 90px;
     background: rgba(59, 59, 151, 0.479); 
 }
 p#rodape{
     text-align: center;
 }
h1{
     color: rgb(245, 124, 24);
     font-family: cursive;
 }
 img{
    max-width: 300px;
    min-width: 100px;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.527);
    margin: auto;
 }
 div#imglogo{
     text-align: center;
     
 }
img#img2{
    margin-top: 10px;
    margin-right: 10px;
    max-width: 300px;
    min-width: 50px;
    grid-area: x;
}
img#img3{
    margin-top: 30px;
    margin-right: 10px;
    max-width: 300px;
    min-width: 50px;
    grid-area: y;
}